{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Keyboard Store{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Mes comandes</h1>
    <a href="{{ path('app_account') }}">Retour</a>
    {% if orders|length == 0 %}
    <p>
        Vous n'avez pas encore passé de commande sur Keyboard Store.
    </p>
    {% else %}
    <div class="table-responsive-md">
      <table class="table mt-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Référence</th>
            <th scope="col">Statut</th>
            <th scope="col">Passée le</th>
            <th scope="col">Produits</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>  
        {% for order in orders %}
            <tr>
                <td><span class="badge badge-secondary bg-secondary" >{{ order.reference }}</span></td>
                <td>
                  {% if order.state ==1 %}
                  Paiement accepté
                  {% elseif order.state == 2 %}
                  Préparation en cours
                  {% elseif order.state == 3 %}
                  Livraison en cours
                  {% endif %}
                </td>
                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                <td>{{ order.orderDetails|length }}</td>
                <td>  <td>{{ ((order.carrierPrice + order.getTotal)/ 100) |number_format(2, ',' , '.') }}€</td></td>
                <td class="text-end"> <a href="{{ path('app_account_order_show', {reference: order.reference}) }}">Voir ma commande</a> </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      
    {% endif %}
    

</div>
{% endblock %}
